.container
    .header-ecored
        h1 1. Construcción de contenido digital
    .jumbotron.bg-white
        .sub-ecored.mt-5#11
            h2 1.1 Creación de imagen  
        .row.justify-content-center.align-items-center.card-color-1
            .col-12.col-md-6
                p.mt-5 Para crear asombrosas imágenes que transmitan e impacten, permitiendo mejorar las ventas y la imagen de su negocio u organización, para luego compartirlas en las redes sociales; se dispone de múltiples plataformas que explotan al máximo la creatividad al agregar y retocar dichas imágenes o los textos y efectos en ellas.
            .col-12.col-md-6    
                img.img-a(src="assets/images/pages/ilustraciones/img1.svg").img-fluid
                

        p.mt-5 Conociendo lo anterior, recuerde que ya se realizó la planeación y el diseño básico para la creación de un contenido digital en un momento anterior, donde se plantearon herramientas y se sugirieron pasos para encontrar una solución digital, a partir de un recurso o medio como puede ser una imagen, audio o video. 
        p.mt-5 Por tal motivo, en este momento se tomará como ejemplo una pequeña empresa que se dedica a hacer domicilios, facilitando así en épocas de una pandemia el acceso a los productos de primera necesidad a todos los habitantes de su localidad. Cabe aclarar, que ellos no tienen muchos clientes porque aún no son muy reconocidos, pero ese problema se puede solucionar con el uso de medios digitales y para ello, primero se creará una imagen que le permita mostrarse como empresa y que la comunidad identifique sus servicios.
        
        
        

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img2.png").img-fluid  
        .header-arrow
            h3.justify-content-center.align-items-center Recuerde que para crear una imagen debe tener en cuenta lo siguiente:     
       

        section.pasos-protocolo.my-6.pt-5

            .row.justify-content-center.mt-5

                .col-12.col-md-4.my-6.my-md-0
                    .card.card-color-3
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img3.png").avatar-img

                            h3 Defina lo que desea comunicar.
                            p Es muy claro lo que la empresa a la que se llamará en este caso Mandeusted quiere mostrar y esto es su servicio a muchas más personas y para este fin, se creará un post para compartirlo por redes sociales. 

                .col-12.col-md-4.my-6.my-md-0
                    .card.card-color-4
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img4.png").avatar-img

                            h3 Examine la herramienta y sus posibilidades antes de empezar.
                            p La herramienta que se utilizará es CANVA, la cual brinda la posibilidad de utilizar plantillas gratuitas y desde luego, crear imágenes propias. 

                .col-12.col-md-4.mt-6.my-md-0
                    .card.card-color-3
                        .card-body.text-center

                            .avatar.avatar-super.card-avatar.card-avatar-top
                                img(src="assets/images/pages/ilustraciones/img5.png").avatar-img
                            h3 #[strong Elija las fotografías que va a utilizar.] 
 
                            a(href="https://pixabay.com/" target="_blank").media-link3 
                                .media-link-title
                                    p.text Para elegir imágenes que se puedan utilizar en el post, se puede apoyar en plataformas de descarga de contenido gratuito, como por ejemplo https://pixabay.com/ haciendo lo siguiente:

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                           
                    .list__txt
                        a(href="https://pixabay.com/" target="_blank").media-link3 
                            .media-link-title
                                p.text Pasos para descargar una imagen gratuita de pixabay.com



            .row.mt-5
                .col-2
                    #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                        a#v-pills-paso1-tab.nav-link.active(data-toggle='pill', href='#v-pills-paso1', role='tab', aria-controls='v-pills-paso1', aria-selected='true') Paso 1
                        a#v-pills-paso2-tab.nav-link(data-toggle='pill', href='#v-pills-paso2', role='tab', aria-controls='v-pills-paso2', aria-selected='false') Paso 2
                        a#v-pills-paso3-tab.nav-link(data-toggle='pill', href='#v-pills-paso3', role='tab', aria-controls='v-pills-paso3', aria-selected='false') Paso 3
                        a#v-pills-paso4-tab.nav-link(data-toggle='pill', href='#v-pills-paso4', role='tab', aria-controls='v-pills-paso4', aria-selected='false') Paso 4
                        a#v-pills-paso5-tab.nav-link(data-toggle='pill', href='#v-pills-paso5', role='tab', aria-controls='v-pills-paso5', aria-selected='false') Paso 5
                .col-10
                    #v-pills-tabContent.tab-content
                        #v-pills-paso1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-paso1-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Busque una imagen con referencia de motos.
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img6.png").img-fluid 
                        #v-pills-paso2.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso2-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Elija la resolución de la imagen.
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img7.png").img-fluid
                        #v-pills-paso3.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso3-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p En la ventana emergente presione clic en el #[strong checkbox] y seguido en el botón de #[strong Descargar.]
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img8.png").img-fluid
                        #v-pills-paso4.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso4-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p No se requiere acreditación, pero puede utilizar la imagen, solo agradézcale al autor #[strong #[u Imagen de Free-Photos en Pixabay.]]
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img9.png").img-fluid
                        #v-pills-paso5.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso5-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p En la carpeta de descargas de su computador encontrará la imagen que descargó y que utilizará en #[strong CANVA] para crear el post para la empresa #[strong Mandeusted.] 
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img10.png").img-fluid


                .list.mt-5
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt
                        a(href="https://www.canva.com/" target="_blank").media-link3 
                            .media-link-title
                                p.text Ahora ingrese a #[strong CANVA] https://www.canva.com/ la plataforma que le permitirá crear la imagen publicitaria y realice lo siguiente: 

            .row.mt-5
                .col-2
                    #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                        a#v-pills-paso6-tab.nav-link.active(data-toggle='pill', href='#v-pills-paso6', role='tab', aria-controls='v-pills-paso6', aria-selected='true') Paso 1
                        a#v-pills-paso7-tab.nav-link(data-toggle='pill', href='#v-pills-paso7', role='tab', aria-controls='v-pills-paso7', aria-selected='false') Paso 2
                        a#v-pills-paso8-tab.nav-link(data-toggle='pill', href='#v-pills-paso8', role='tab', aria-controls='v-pills-paso8', aria-selected='false') Paso 3
                        a#v-pills-paso9-tab.nav-link(data-toggle='pill', href='#v-pills-paso9', role='tab', aria-controls='v-pills-paso9', aria-selected='false') Paso 4
                        a#v-pills-paso10-tab.nav-link(data-toggle='pill', href='#v-pills-paso10', role='tab', aria-controls='v-pills-paso10', aria-selected='false') Paso 5
                        a#v-pills-paso11-tab.nav-link(data-toggle='pill', href='#v-pills-paso11', role='tab', aria-controls='v-pills-paso11', aria-selected='false') Paso 6
                        a#v-pills-paso12-tab.nav-link(data-toggle='pill', href='#v-pills-paso12', role='tab', aria-controls='v-pills-paso12', aria-selected='false') Paso 7               
                .col-10
                    #v-pills-tabContent.tab-content
                        #v-pills-paso6.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-paso6-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Seleccione la opción #[strong Post para Instagram].
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img11.png").img-fluid 
                        #v-pills-paso7.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso7-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Seleccione la opción #[strong Archivos subidos] y presione el botón #[strong Subir archivos]. 
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img12.png").img-fluid
                        #v-pills-paso8.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso8-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Elija la opción #[strong Dispositivo].
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img13.png").img-fluid
                        #v-pills-paso9.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso9-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Busque la imagen que va a utilizar y la selecciona.
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img14.png").img-fluid
                        #v-pills-paso10.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso10-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Seleccione la opción de texto, agregue el diseño y escriba el texto que desea observar en la imagen.
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img15.png").img-fluid
                        #v-pills-paso11.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso11-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Presione el botón #[strong Descargar].
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img16.png").img-fluid
                        #v-pills-paso12.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso12-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Tiene como resultado una imagen lista para compartirla en las redes sociales publicitando los servicios de #[strong Mandeusted]. Podrá repetir estos pasos cuantas veces desee y cada vez el resultado será mejor.
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img17.png").img-fluid


            .sub-ecored.mt-5#12
                h2 1.2 Creación de audio
                p Los anuncios publicitarios son recursos importantes para transmitir un mensaje. Un audio original que sea fácil de entender y cumpla la función de informar y persuadir al cliente, será una excelente estrategia para utilizar. Es así como #[strong Mandeusted] ya inició en la estrategia de publicidad creando una imagen como se explicó anteriormente; pero, si se le agrega un audio podría ser aún más interesante. 
                p.mt-5 También es importante definir el medio por el cual se va a transmitir este anuncio; puede ser netamente visual, audiovisual, audio, etc. 

            .header-arrow.mt-5
                h3.justify-content-center.align-items-center La idea es hacerlo a través de una herramienta gratuita con los siguientes pasos:     
    
            .row.mt-5
                .col-2
                    #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                        a#v-pills-paso13-tab.nav-link.active(data-toggle='pill', href='#v-pills-paso13', role='tab', aria-controls='v-pills-paso13', aria-selected='true') Paso 1
                        a#v-pills-paso14-tab.nav-link(data-toggle='pill', href='#v-pills-paso14', role='tab', aria-controls='v-pills-paso14', aria-selected='false') Paso 2
                        a#v-pills-paso15-tab.nav-link(data-toggle='pill', href='#v-pills-paso15', role='tab', aria-controls='v-pills-paso15', aria-selected='false') Paso 3
                        a#v-pills-paso16-tab.nav-link(data-toggle='pill', href='#v-pills-paso16', role='tab', aria-controls='v-pills-paso16', aria-selected='false') Paso 4
                        a#v-pills-paso17-tab.nav-link(data-toggle='pill', href='#v-pills-paso17', role='tab', aria-controls='v-pills-paso17', aria-selected='false') Paso 5
                .col-10
                    #v-pills-tabContent.tab-content
                        #v-pills-paso13.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-paso13-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt 
                                    a(href="https://www.audacityteam.org/" target="_blank").media-link3 
                                        .media-link-title
                                            p.text Ingrese y descargue la aplicación #[strong Audacityteam] https://www.audacityteam.org/ presionando el botón de descarga #[strong DOWLOAD AUDACITY] y realice la respectiva instalación.
                                    img.img-a.mt-3(src="assets/images/pages/ilustraciones/img18.png").img-fluid 

                                    .list__txt 
                                        a(href="https://sfx.freeaudiolibrary.com/es" target="_blank").media-link3 
                                            .media-link-title
                                                p.text Descargue un audio en la plataforma de audios gratuitos #[strong Freeaudiolibrary] https://sfx.freeaudiolibrary.com/es. Para este caso puede ser uno de una motocicleta en marcha que se relacione con la temática de la empresa #[strong Mandeusted].
                        #v-pills-paso14.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso14-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Seleccione la opción #[strong Grabar previamente] y cree un guion; el cual se leerá teniendo en cuenta los siguientes consejos:

                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img19.png").img-fluid
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Seleccione el micrófono con el que grabará
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p No grabe cerca de las paredes, ya que pueden generar eco y podría sonar su voz lejos.
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Utilice micrófono (auriculares). El micrófono incorporado en el PC puede grabar bien, pero los micrófonos externos lo hacen mejor. Para este proceso se recomienda tener distanciado el micrófono.  
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img20.png").img-fluid                                   
                        #v-pills-paso15.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso15-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Agregar música o sonido de ambiente es muy sencillo. Puede utilizar la combinación del teclado presionando las teclas #[strong Ctrl+Shift+i], lo cual le dará acceso a una ventana en la que puede buscar el audio que agregará al proyecto.
                                    p También puede presionar el botón #[strong Archivo] y seleccionar la opción #[strong Importar] y así se abrirá la misma ventana. 
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img21.png").img-fluid
                        #v-pills-paso16.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso16-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Seguidamente podrá observar dos audios: el del guion con su voz y del ambiente con el de la motocicleta. Es posible reducir el volumen del sonido de la motocicleta, logrando el ajuste correcto a través de las opciones que se indican.
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img22.png").img-fluid
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img23.png").img-fluid

                        #v-pills-paso17.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso17-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Cuando el proyecto está finalizado presione la combinación de teclas #[strong Ctrl+Shift+E], abriendo de esta manera una ventana emergente que permitirá guardarlo en un lugar específico del computador, agregarle un nombre y elegir el tipo o formato que tendrá el archivo, que para este caso será MP3.
                                    p También puede presionar el botón #[strong Archivo] y seleccionar la opción #[strong Exportar], dando como resultado el mismo proceso.
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img24.png").img-fluid
                            p.mt-3 Ya cuenta con un audio que puede utilizar para combinarlo con una imagen o un video y compartirlo en las diferentes redes sociales.            
            
            
            .sub-ecored.mt-5#13
                h2 1.3 Creación de video
            .list__txt 
                a(href="https://sfx.freeaudiolibrary.com/es" target="_blank").media-link3 
                    .media-link-title
                        p.text Crear un video es sencillo, solo se debe tener el guion y demás consejos que se aprendieron anteriormente. Por tal motivo, ahora se utilizará la plataforma Pixabay https://pixabay.com/, para la cual ya se conoce el proceso para acceder, descargar y encontrar elementos necesarios en el video. Recuerde que de esta misma herramienta puede descargar videos, solo debe activar la opción Videos, seleccionar el que desea y guardarlo en su computador.
            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img25.png").img-fluid 
            p.mt-3 Realizando el proceso anterior, en este momento deberá subir un video del proyecto para la empresa que viene trabajando #[strong Mandeusted], en la plataforma CANVA que ya conoce. Existen muchas más plataformas para estos procesos, así que una vez le sea familiar el uso de esta, puede seguir investigando en las características y ventajas de otras herramientas digitales que encontrará en internet.    
            .header-arrow.mt-5
                h3.justify-content-center.align-items-center Por ende, lleve a cabo el siguiente procedimiento en la plataforma CANVAS:


            .row.mt-5
                .col-2
                    #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                        a#v-pills-paso18-tab.nav-link.active(data-toggle='pill', href='#v-pills-paso18', role='tab', aria-controls='v-pills-paso18', aria-selected='true') Paso 1
                        a#v-pills-paso19-tab.nav-link(data-toggle='pill', href='#v-pills-paso19', role='tab', aria-controls='v-pills-paso19', aria-selected='false') Paso 2
                        a#v-pills-paso20-tab.nav-link(data-toggle='pill', href='#v-pills-paso20', role='tab', aria-controls='v-pills-paso20', aria-selected='false') Paso 3
                        a#v-pills-paso21-tab.nav-link(data-toggle='pill', href='#v-pills-paso21', role='tab', aria-controls='v-pills-paso21', aria-selected='false') Paso 4
                        a#v-pills-paso22-tab.nav-link(data-toggle='pill', href='#v-pills-paso22', role='tab', aria-controls='v-pills-paso22', aria-selected='false') Paso 5
                        a#v-pills-paso23-tab.nav-link(data-toggle='pill', href='#v-pills-paso23', role='tab', aria-controls='v-pills-paso23', aria-selected='false') Paso 6
                        a#v-pills-paso24-tab.nav-link(data-toggle='pill', href='#v-pills-paso24', role='tab', aria-controls='v-pills-paso24', aria-selected='false') Paso 7               
                        a#v-pills-paso25-tab.nav-link(data-toggle='pill', href='#v-pills-paso25', role='tab', aria-controls='v-pills-paso25', aria-selected='false') Paso 8
                        a#v-pills-paso26-tab.nav-link(data-toggle='pill', href='#v-pills-paso26', role='tab', aria-controls='v-pills-paso26', aria-selected='false') Paso 9
                        a#v-pills-paso27-tab.nav-link(data-toggle='pill', href='#v-pills-paso27', role='tab', aria-controls='v-pills-paso27', aria-selected='false') Paso 10               
                .col-10
                    #v-pills-tabContent.tab-content
                        #v-pills-paso18.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-paso18-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Seleccione la opción #[strong Video] y la categoría #[strong Videos para dispositivos móviles.]
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img26.png").img-fluid 
                        #v-pills-paso19.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso19-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Seleccione una plantilla o crea su propio diseño. 
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img27.png").img-fluid
                        #v-pills-paso20.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso20-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Seleccione la opción #[strong Archivos subidos] y luego el botón con este mismo nombre. 
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img28.png").img-fluid
                        #v-pills-paso21.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso21-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Elija la opción #[strong Dispositivo.]
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img29.png").img-fluid
                        #v-pills-paso22.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso22-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Agregue el archivo de video que descargó de #[strong Pixabay] al inicio de este proceso de #[strong Creación de video.]
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img30.png").img-fluid
                        #v-pills-paso23.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso23-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Inserte el audio creado en #[strong Audacity] en el proceso de #[strong Creación de audio.]
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img31.png").img-fluid
                        #v-pills-paso24.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso24-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Ajuste el video como fondo haciendo clic derecho y luego eligiendo la opción #[strong Enviar atrás.] Redimensione hasta ajustarlo al ancho y alto del fondo.
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img32.png").img-fluid
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p En el video se encuentra el archivo descargado de #[strong Pixabay] y el audio creado en #[strong Audacity.] Puede realizar una vista previa de ello, donde observará el tiempo de duración del proyecto.
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img33.png").img-fluid

                        #v-pills-paso25.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso25-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Proceda a descargar el video creado
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img34.png").img-fluid
                        #v-pills-paso26.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso26-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Para descargar el proyecto en formato de video se debe tener una cuenta de pago, pero es posible compartir el enlace en redes sociales donde se podrá observar sin ningún inconveniente. 
                                    p Para ello, presione el botón de los #[strong tres puntos (…)] y seguido el formato de #[strong Compartir enlace.]
                                    p El enlace lo puede enviar por todas las redes sociales que desee.
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img35.png").img-fluid
                        #v-pills-paso27.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-paso27-tab')
                            .list.mt-3
                                .list__item
                                    .list__item__icon
                                        img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                                .list__txt    
                                    p Al final obtendrá un resultado como el siguiente:
                            img.img-a.mt-3(src="assets/images/pages/ilustraciones/img36.png").img-fluid                            